name: publish

on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - '**.md'

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: timescale/timescaledb:latest-pg14
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '17'
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Run tests
        run: ./gradlew test -Dconfig.override.jdbc.url=jdbc:postgresql://localhost:5432/postgres -Dconfig.override.jdbc.user=test -Dconfig.override.jdbc.password=test
  publish:
    needs: tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Publish to the Github packages
        run: gradle publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
          GITHUB_ACTOR: ${{ secrets.GITHUB_ACTOR }}
  clean:
    needs: publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: smartsquaregmbh/delete-old-packages@v0.4.0
        with:
          keep: 4
          version-pattern: "^\\d+\\.[2|3|4].\\d+$"
          names: |
            dev.tmsoft.kotlin.common-lib
